header{
    padding: 10px;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    backdrop-filter: blur(15px);
    display: block;
    height: 100px;
    width: 100%;
    z-index: 1;
}
.logo{
    width: 220px;
}
.logo:hover{
    cursor: pointer;
}
.desktop_menu{
    margin-top:24px;
}
.desktop_menu ul{
    padding:0;
    margin: 0;
}
.desktop_menu ul li{
    list-style-type: none;
    color: black;
    display: inline-block;
    font-size: 18px;
    margin-left: 20px;
}
.desktop_menu ul li:hover{
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    color: #040483;
    transition: 0.1s ease-in-out;
}
.menu-icon{
    display: none;
}

@media screen and (min-width:128px) and (max-width:900px){
    .desktop_menu{
        position: fixed;
        right: 0;
        transform: translateX(100%);
        transition: 0.4s ease-in-out;
        top: 76px;
        background-color: rgba($color: #ffffff, $alpha: 0.9);
        width: 208px;
        height: 190px;
    }
    .desktop_menu ul li{
        display: block;
        text-align: left;
        margin:0;
        padding: 10px 0 10px 26px;
        border-bottom: 1px solid gray;
    }
    .menu-icon{
        display: block;
        color: black;
        font-size: 40px;
        padding-top: 10px;

    }
    .mobile_menu{
        right:0;
        transform: translateX(0%);
        transition: 0.4s ease-in-out;
    }
}
a{
    color: black;
    text-decoration: none;
}