<app-options (data)="receiveData($event)"></app-options>
<div class="container" id="plot"></div>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center mb-4">Electrode Placement</h1>
            <ul class="electrode-list">
                <li class="text-danger">🔴: Right Arm</li>
                <li class="text-warning">🟡: Leg</li>
                <li class="text-success">🟢: Left Arm</li>
            </ul>
        </div>
    </div>
</div>