body {
    background-color: #f4f4f4;
}
.container {
    margin-top: 50px;
}
.electrode-list {
    list-style: none;
    padding-left: 0;
}
.electrode-list li {
    margin-bottom: 10px;
}
.main-content{
    padding: 50px;
}
.control-buttons .btn {
    margin-right: 10px;
    margin-bottom: 10px;
}